@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('../src/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  src: local('Open Sans'), url('../src/fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
  src: local('Open Sans'), url('../src/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  src: local('Open Sans'), url('../src/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}